<div class="container">

    <div class="jumbotron">
	<h2> What is Gateway? </h2>
	<div> Gateway is the fastest way to get the job done. We pride ourselves on connecting you with people who can help you with your requests as fast as possible. If you are looking for work, we pride ourselves on connecting you with people who could use your help.</div>
	<h2> How do I get started? </h2>
	<div> Use the "Register" link on the login page to sign-up for an account. All you need to provide is a valid e-mail address. Then you are free to post listings or search tons of current listings. </div>
    </div>

</div>




