<div class="under-nav col-lg-7">

        <h1> Help </h1>

	<h3> How do I post a listing? </h3>
	<div> Click the "Create New Listing" button on the top of the page. Fill in a descriptive title of your request, a detailed description, and a deadline date (if applicable). 
	</div>

	<h3> How do I contact a user about a post? </h3>
	<div> Click the link of a post you are interested in. On the listing page, click the "Contact Poster" button to send an e-mail to the poster. Further communication with the poster can be completed using e-mail. 
	</div>
	

</div>
