<div class="under-nav col-lg-7" ng-controller="myListCtrl">
	<div>
		<h1> My Requests </h1>
		<div class="my-list">
			<div ng-if="myListResults.length > 0 && authService.isConsumer()">
				<ul ng-repeat="listing in myListResults">
					<li class="listing-title"><a href="" ng-click="moveToListingPage(listing.doc_id)">{{listing.title}}</a></li>
					<text class="listing-desc"> {{listing.description}} </text>
				</ul>
			</div> 
			
		</div>
	</div>

	<div>
		<h1> Watched Posts </h1>
		<!-- gets listings by provider -->
	</div>
</div>
	
