<div class="container">

      <div class="jumbotron">

          <div class="page-header">
            <h1>My Listings</h1>
            <p>This is where active listings will go.</p>
          </div>
          
      </div>
      
      <div class="jumbotron">

          <div class="page-header">
            <h1>Search Listings</h1>
            <input type="search" placeholder="What do you need done?" 
                   name="searchText" width="2000">
            <a class="btn btn-large btn-primary" href="#/">Search</a>      
          </div>
          
      </div>
      
</div>
