<div ng-controller="NavCtrl">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gateway</a>
        </div>

        <div class="nav navbar-form pull-right">

            <div ng-show="!authService.isLoggedIn()">
                <a href="#loginModal" role="button" class="btn btn-primary" data-toggle="modal">Sign in</a>
            </div>

            <div ng-show="authService.isLoggedIn()">
                <a class="btn btn-primary" ng-click="show('#newListingModal')">Create a new listing</a>
                <a class="btn btn-primary" href="#logged-in">Hello, {{authService.currentUser()}}</a>
                <a class="btn btn-primary" ng-click="authService.logout()">Sign out</a>
            </div>

        </div>
    </nav>
    <!-- End Navbar -->


    <!-- Login Modal Dialog -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006</button>
                    <h4 class="modal-title">Login</h4>

                </div>
                <div class="modal-body">

                    <span id="login-email">Username</span>
                    <input ng-model="email" type="text" placeholder="Username" name='username' autofocus="autofocus">

                    <span id="login-password">Password</span>
                    <input ng-model="password" type="password" placeholder="Password" name='password'
                           ng-keyup="$event.keyCode == 13 && submitLoginForm()" type="submit">
                    <!-- used to trigger the login on an "enter" keypress -->

                </div>

                <div class="modal-footer">
		    <a role="button" data-toggle="modal" ng-click="show('#newUserModal') && hide('#loginModal')" data-dismiss="modal">Register</a> 
                    <a class="btn btn-primary" ng-disabled="!email || !password" ng-click="submitLoginForm()">Log in</a>
                </div>

            </div>
        </div>
    </div>
    <!-- End login -->

    <!-- New user Dialog -->
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006</button>
                    <h4 class="modal-title">Register</h4>

                </div>
                <div class="modal-body">

                    <span id="email">Email</span>
                    <input ng-model="newEmailField" type="text" placeholder="Email" name='username' autofocus="autofocus">

		    <span id="user-username">Username</span>
                    <input ng-model="newUsernameField" type="text" placeholder="Pick a username" name='newUsername' autofocus="autofocus">

                    <span id="user-password">Password</span>
                    <input ng-model="newPasswordField" type="password" placeholder="Password" name='password'

                           ng-keyup="$event.keyCode == 13 && submitUserForm()" type="submit">
                    <!-- used to trigger the login on an "enter" keypress -->

                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" ng-disabled="!newEmailField || !newPasswordField || !newUsernameField" ng-click="submitUserForm()" data-dismiss="modal">Create User</a>
                </div>

            </div>
        </div>
    </div>
    <!-- End new user -->



    <!-- Create Listing Modal Dialog -->
    <div class="modal fade" id="newListingModal" tabindex="-1" role="dialog" aria-labelledby="newListingModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10006</button>
                    <h4 class="modal-title">Create Listing</h4>

                </div>
                <div class="modal-body">

                    <span id="listingTitleText">Title</span>
                    <input ng-model="title" type="text" placeholder="Title" name="listingTitle" id="listingTitle" required>

                    <!-- TODO Insert a category dropdown menu here -->

                    <span id="listingDescText">Description</span>
                    <input ng-model="description" placeholder="Description" name="listingDesc" id="listingDesc" required>

                    <span id="listingDateText">Date (optional)</span>
                    <input type="date" id="listingDate" name="listingDate" ng-model="date"
                           placeholder="MM/dd/yy" min="06/01/14" max="12/31/14"/>

                    <span id="listingAddrText">Address (optional)</span>
                    <input type="text" id="listingAddr" name="listingAddr" ng-model="address"/>
                    <a class="btn btn-primary" ng-click="getCurrentLocation()">Use Current Location</a>

                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="submitListing()">Post</a>
                    <a class="btn btn-primary" class="close" data-dismiss="modal">Cancel</a>
                </div>

            </div>
        </div>
    </div>

</div>
