<div ng-controller="NavCtrl">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gateway</a>
        </div>

        <div class="nav navbar-form pull-right">

            <div ng-show="!authService.isLoggedIn()">
                <a href="#loginModal" role="button" class="btn btn-primary" data-toggle="modal">Sign in</a>
            </div>

            <div ng-show="authService.isLoggedIn()">
                <a class="btn btn-primary" >Hello, {{authService.currentUser()}}</a>
                <a class="btn btn-primary" ng-click="authService.logout()">Sign out</a>
            </div>

        </div>
    </nav>
    <!-- End Navbar -->



    <!-- Login Modal Dialog -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Login</h4>

                </div>
                <div class="modal-body">

                    <span id="login-email">Email</span>
                    <input ng-model="email" type="text" placeholder="Email" name='username'>

                    <span id="login-password">Password</span>
                    <input ng-model="password" type="password" placeholder="Password" name='password'
                           ng-keyup="$event.keyCode == 13 && submitLoginForm()" type="submit">
                           <!-- used to trigger the login on an "enter" keypress -->

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-disabled="!email || !password" ng-click="submitLoginForm()">Log in</a>
                </div>

            </div>
        </div>
    </div>
    <!-- End login -->

</div>